@font-face {
	font-family: Overpass;
	src: url("/font/Overpass-VariableFont_wght.ttf");
	format: "ttf";
	font-display: swap;
}

body {
    padding: 20px 20px 60px;
    max-width: 1000px;
    margin: 0 auto;
    color: #030000;
    background-color: white;
    background-repeat: no-repeat;
}

/* nav {
    background-color: #333;
} */
/*  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    flex: 1;
    text-align: center;
}
  
nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #444;
} */
  
fieldset{
	border: none;
}

legend {
	font-size: 1.4em;
	margin-bottom: 5px;
}
label {
	display: block;
	margin-bottom: 10px;
}

textarea,
select {
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 2px;
}

textarea:focus,
select:focus{
	background: #d2d9dd;
}

.navbar {
	position: static;
	margin: 15px 0 25px 0;
}
  
.startTestContainer {
	padding-top: 100px;
	display: flex;
	justify-content: center;
}

.startTestBtn {
	height: 100px;
	max-width: 50%;
}

.startTestBtn:hover {
	color: white;
}