.loginContainer {
	display: flex;
	flex-direction: column;
	padding: 0 10%;
	height: 100vh;
	justify-content: center;
	margin-top: -75px !important;
}

.formContainer {
	display: flex;
	flex-direction: column;
}

.header {
    margin-bottom: 40px !important;
}

.inputField {
    margin-bottom: 30px !important;
}