.container {
    padding: 20px !important;
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.inputField {
    margin: 15px !important;
}

.submitButton {
    margin-top: 40px;
}