.center {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.container {
    margin-top: 15px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.errorMsg {
    margin-left: -120px;
}

.guidelinesContainer {
    display: inline-block;
    height: 275px;
}

.input { 
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 25px;
    display: block;
    width: 100;
}

.successMsg {
    margin-left: -50px;
}

.textfield {
    margin-bottom: 5px;
}

.testTitle {
    margin: 10px;
}

