.container {
    padding: 20px !important;
}

.formContainer {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 15px;
}

.inputField {
    margin: 15px !important;
}

.submitButton {
    margin-top: 40px !important;
}